body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 200vh; 
    background-color: #41071c;
}

.main-header {
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-bottom: 10px; 
}

.main-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
}

.main-intro img {
    max-width: 500px;
    height: auto;
    transition: transform 0.2s ease, max-width 0.3s ease;
}

.trait-intro{
    border: none;
    height: 3px; 
    background-color: #fff;
    width: 100vw;
}

.bienvenue-txt{
    display: block;
    white-space: wrap;
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.swipeGif{
    width: 200px;
}
.hidden-text {
    display: none;
    
    transform: translateX(-20px);
    transition: all 0.5s ease-in-out;
    color: #fff;

}

.main-intro img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100vw; 
    background-color: #582749;
    border-radius: 0px;
    padding: 0px 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 100vh;
    transition: all 0.5s ease-in-out;
}


.search-button {
    border: none;
    background-color: #8d3c74;
    color: #fff;
    background: url('image/bande.png') no-repeat center center;
    background-size: 100% 100%;
    border: none;
    padding: 20px; /* Taille intérieure du bouton */
    margin: 0 0px; /* Espacement horizontal entre les boutons */
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
    flex: 1 1 auto; /* Tous les boutons occupent un espace égal */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 3000px; /* Empêcher les boutons de devenir trop larges */
    min-width: 10px; /* Largeur minimale pour maintenir une bonne lisibilité */
    white-space: nowrap; /* Empêche le texte de se briser en plusieurs lignes */
    text-align: center; /* Centre le texte dans le bouton */
    
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #daa85e;
}

/* Après défilement */
.logo-small {
    flex-direction: row; 
    top: 10px;
    left: 10px;
    transform: none;
    z-index: 10;
}

.logo-small .GoldmaneLogo{
    content : url("image/Logo.jpg");
    max-width: 100px;

}
.fixed-container {
    position: fixed;
    top: 70px; /* Juste sous le logo */
    left: 0;
    width: 100%;
    margin-top: 40px; /* Supprime le margin-top initial */
    transition: all 0.5s ease-in-out;
}

.logo-small .hidden-text {
    display: block;
    transform: translateX(0);
}
.rmvBvn{
    display : none;
}

.rmvSwipeGif{
    display : none;
}

.section{
    width: 100%;
    text-align: center;

}

#section-bureau{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin: 120px auto; /* Espace pour laisser la place au logo */
    position: fixed;
    
}
#section-bureau.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}

#section-entreprise{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}
#section-entreprise.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}

#section-communication{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}
#section-communication.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}

#section-soiree{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}
#section-soiree.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}

#section-event{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}
#section-event.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}

#section-voyage{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}
#section-voyage.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}

#section-polyvalent{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}
#section-polyvalent.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    padding: 50px 20px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    margin-top: 120px; /* Espace pour laisser la place au logo */
    position: fixed;
    
}

.photo-bureau{
    display: grid;
    grid-auto-flow: column;
}

@media (max-width: 390px) {
    .search-button {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }
    .main-intro img{
        max-width: 300px;
        height: auto;
    }
    .logo-small {
        top: 10px;
        left: 10px;
        transform: none;
    }
    
    .logo-small img {
        max-width: 100px;
    
    }
}